/* Mobile-First Approach*/
.content-wrapper {
  min-height: 100%;
  width: 100%;
  max-width: var(--reasonable-max-app-width);
  flex-direction: column;
  padding: 2rem 1rem;
}

/* "02 Meet your Crew" */
.pg-info {
  align-self: center;
  font-family: var(--ff-main-condensed);
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.7px;
  color: hsl(var(--text-clr));
}

.pg-info span {
  color: hsl(var(--text-clr) / 50%);
  font-weight: bold;
}

/* Holds everything besides the page header */
.content {
  flex-direction: column;
  align-items: center;
}

/* Crew Member Image */
.member-img {
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid var(--shadow-clr);
}

.member-img img {
  width: min-content;
  height: 100%;
  max-height: 300px;
}

/* Contains the everything else besides the image */
.nonImg-content {
  flex-direction: column-reverse;
  align-items: center;
}

/* Contains member info + bio */
.main-content {
  flex-direction: column;
  align-items: center;
}

/* Crew Member Role + Name */
.member-info {
  --gap: 0.25rem;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  text-align: center;
}

.member-info span {
  font-family: var(--ff-heading);
  text-transform: uppercase;
}

.member-info span:first-child {
  font-size: 16px;
  color: hsl(var(--text-clr) / 50%);
}

.member-info span:last-child {
  font-size: 24px;
  color: hsl(var(--text-clr));
}

/* Crew Member Bio */
.bio {
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
  color: hsl(var(--primary-clr));
}

/* Container w/ Buttons to Switch Displayed Members */
.member-switcher {
  width: 100%;
  justify-content: center;
}

/* Customizing the Circle Button */
.custom-circle {
  --dimension: 1rem !important;
}

/* Tablet Layout */
@media (min-width: 468px) {
  .content-wrapper {
    padding-inline: 3rem;
    padding-block-end: 0;
  }

  .pg-info {
    width: 100%;
    justify-self: start;
    font-size: 20px;
    text-align: start;
    letter-spacing: 3.38px;
  }

  .content {
    height: 100%;
    flex-direction: column-reverse;
    padding-block-start: 2rem;
  }

  .nonImg-content {
    flex-direction: column;
  }

  .member-info span:first-child {
    font-size: 24px;
  }

  .member-info span:last-child {
    font-size: 40px;
  }

  .bio {
    height: 125px;
    max-width: 458px;
    font-size: 16px;
  }

  .member-img {
    flex: 1;
    border-bottom: none;
  }

  .member-img img {
    height: min-content;
    max-height: initial;
    width: 100%;
    max-width: 325px;
  }
}

/* Desktop Layout */
@media (min-width: 768px) {
  .content-wrapper {
    padding-inline: 3rem;
    padding-block-end: 0;
  }

  .pg-info {
    font-size: 28px;
    letter-spacing: 4.72px;
  }

  .content {
    max-height: 730px;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 3rem;
  }

  .nonImg-content {
    height: 100%;
    max-height: 425px;
  }

  .main-content {
    align-items: flex-start;
  }

  .member-info {
    align-items: flex-start;
    text-align: start;
  }

  .member-info span:first-child {
    font-size: clamp(24px, 2.85vw, 32px);
  }

  .member-info span:last-child {
    font-size: clamp(42px, 5vw, 56px);
  }

  .bio {
    height: initial;
    max-width: 444px;
    font-size: 18px;
    text-align: start;
  }

  .member-switcher {
    justify-content: flex-start;
    margin-top: auto;
  }

  .custom-circle {
    --dimension: 1.25rem !important;
  }

  .member-img {
    align-self: flex-end;
  }

  .member-img img {
    min-width: 325px;
    max-width: initial;
  }
}
