body {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.content {
  --gap: 3rem;
  height: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-block-start: max(5rem, 5vh);
  padding: 2rem 10rem;
}

.container {
  justify-content: space-between;
}

.curr-page {
  color: hsl(var(--text-clr));
  font-family: var(--ff-main-condensed);
  font-size: 28px;
  letter-spacing: 4.72px;
}

.curr-page span {
  color: hsl(var(--text-clr) / 50%);
  font-weight: bold;
}

/* Destination Image Styling */
.main-img {
  align-self: center;
  justify-self: center;
  padding: 3rem;
}

/* Main text content on page */
.main-content {
  max-width: 445px;
  flex-direction: column;
  color: hsl(var(--primary-clr));
}

/* Destination Navigation */
.main-content > .main-nav ul {
  --pad-bot: 1rem;
  padding-inline: 0.25rem;

  background-color: transparent;
}

@supports (backdrop-filter: blur(0.25rem)) {
  .main-content > .main-nav ul {
    backdrop-filter: blur(0);
  }
}

.main-content > .main-nav li {
  --hover-clr: hsl(var(--primary-clr) / 50%);
  color: hsl(var(--primary-clr));
}

.main-content > .main-nav li.active {
  --hover-clr: hsl(var(--text-clr));
  color: hsl(var(--text-clr));
}

/* Destination Header */
.main-content h2 {
  color: hsl(var(--text-clr));
}

.text-content {
  line-height: 1.7;
  font-size: 18px;
  font-weight: 200;
}

/* Horizontal Line Element */
.horiz-line {
  border-color: #383b4b;
}

/* Info About Destination */
.info {
  --gap: 5rem;
}

.info .subheading-1 {
  color: hsl(var(--text-clr));
}

@media (max-width: 1268px) {
  .content {
    grid-template-columns: max-content auto;
    column-gap: 0.5rem;
    justify-content: center;
    padding-inline: 0;
  }

  .main-img {
    min-width: 300px;
    align-self: center;
    padding: 0;
  }

  .main-img img {
    width: 100%;
  }

  .main-content > .main-nav ul {
    --gap: 1.5rem;
  }

  .info {
    --gap: 4rem;
  }
}

/* Tablet Layout */
@media (max-width: 768px) {
}

/* Mobile Layout */
@media (max-width: 568px) {
}
