body {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.content {
  --gap: 3rem;
  height: 100%;
  flex-direction: column;
  margin-block-start: max(5rem, 5vh);
  padding: 2rem 0 0 10rem;
}

.curr-page {
  color: hsl(var(--text-clr));
  font-family: var(--ff-main-condensed);
  font-size: 28px;
  letter-spacing: 4.72px;
}

.curr-page span {
  color: hsl(var(--text-clr) / 50%);
  font-weight: bold;
}

.right-container {
  justify-content: space-between;
}

/* Main text content on page */
.main-content {
  --gap: 5rem;
  align-self: center;
  color: hsl(var(--primary-clr));
}

/* Technology Navigation Buttons */
.tech-action {
  --gap: 2rem;
  flex-direction: column;
}

.tech-action .circle-btn.outline {
  --dimension: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  color: hsl(var(--text-clr));

  font-size: 32px;
  cursor: pointer;
}

.tech-action .circle-btn.active {
  background-color: hsl(var(--text-clr));
  color: hsl(var(--background-clr));
}

.tech-action .circle-btn:hover {
  border: 1px solid hsl(var(--text-clr));
}

/* Page Content Header */
.tech-id {
  padding-block-end: 2rem;
}

.header-start {
  font-family: var(--ff-main-condensed);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.main-content h3 {
  color: hsl(var(--text-clr));
}

.text-content {
  max-width: 445px;
  line-height: 1.7;
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 2rem;
}

@media (max-width: 1168px) {
  .content {
    justify-content: center;
    padding-inline-start: 1rem;
  }

  .main-content {
    --gap: 2rem;
  }

  .main-img {
    min-width: 300px;
    align-items: center;
  }

  .main-img img {
    width: 100%;
  }
}

/* Tablet Layout */
@media (max-width: 768px) {
  body {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }

  .content {
    --gap: 2rem;
    min-height: calc(100vh - 83px);
    max-width: initial;
    justify-content: initial;
    margin: 0;
    padding-inline: 0;
  }

  .curr-page {
    padding: 0 1rem;
  }

  .right-container {
    flex-direction: column-reverse;
  }

  .main-content {
    flex-direction: column;
  }

  .tech-action {
    flex-direction: row;
    justify-content: center;
  }

  .main-content > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tech-id p {
    font-size: 16px;
  }

  .tech-id h3 {
    font-size: 40px;
  }

  .text-content {
    padding: 0;
  }

  .main-img {
    min-width: initial;
    max-width: initial;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Mobile Layout */
@media (max-width: 468px) {
  body {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }

  .curr-page {
    font-size: 16px;
    text-align: center;
  }

  .tech-action .circle-btn.outline {
    --dimension: 3rem;
  }

  .tech-id p {
    font-size: 14px;
  }

  .tech-id h3 {
    font-size: 24px;
  }

  .text-content {
    font-size: 15px;
  }

  .main-content {
    padding: 1rem;
  }
}
